.planet{
    width: 100%;
    height: auto;

}


.pictureBox{
    position: relative;
}

.picture{
    position: absolute;
    top:"9rem";
    right:"8rem"
}

.picture2{
    position: absolute;
    top:"90rem";
    right:"1rem"
}